<aside class="w-full">
  <div class="flex items-center py-12 px-5">
    <button
      class="flex items-center justify-center-center px-7 py-5 bg-blue-200 min-w-48 text-lg rounded-lg hover:shadow-xl"
      (click)="openSendMessage()"
    >
      <fa-icon [icon]="faPencil" class="ml-5"></fa-icon>
      <span class="w-full">Write</span>
    </button>
  </div>
  <ul class="mr-7">
    @for (folder of folders | async; track folder) {
    <li class="">
      <a
        class="flex w-full h-full py-3 pr-4 pl-10 text-md rounded-e-3xl hover:bg-slate-200"
        routerLinkActive="bg-slate-500 hover:bg-slate-600 font-semibold"
        [routerLink]="[folder.folderName.toLowerCase()]"
        (click)="goToFolder(folder.folderId)"
      >
        <fa-icon [icon]="folderIcons[folder.folderName]" class="mr-3"></fa-icon>
        <span class="mr-auto">{{ folder.folderName }}</span>
        <span>{{ folder.totalMessages }}</span>
      </a>
    </li>
    }
  </ul>
</aside>
