<div class="flex">
  <p class="font-bold">fafas kasfjsd fosadijfdsi</p>
  <div class="grow flex justify-end">
    <span class="mr-3">12 jan 2021</span>
    <button class="mr-3 rounded-full hover:bg-slate-300 w-7 h-7">
      <fa-icon [icon]="faStar"></fa-icon>
    </button>
    <button class="mr-3 rounded-full hover:bg-slate-300 w-7 h-7">
      <fa-icon [icon]="faReply"></fa-icon>
    </button>
    <button class="rounded-full hover:bg-slate-300 w-7 h-7">
      <fa-icon [icon]="faReplyAll"></fa-icon>
    </button>
  </div>
</div>
<div class="bg-slate-200 px-14 py-4">
  <div class="bg-slate-50 mx-auto text-center">asdkgjdsaglkdsklg;aga;s</div>
</div>
