<div class="flex items-center mb-10">
  <div class="flex items-center relative">
    <input
      type="checkbox"
      name=""
      id=""
      class="h-5 w-5 mr-1 cursor-pointer hover:bg-slate-300"
    />
    <button
      class="rounded-md hover:bg-slate-300"
      (click)="toggleCheckDropdown()"
    >
      <fa-icon [icon]="faAngleDown"></fa-icon>
    </button>
    <ul
      class="absolute bg-slate-50 shadow-2xl top-6 left-0 justify-center py-2 text-slate-600"
      [ngClass]="{ hidden: !isCheckDropdownShown }"
    >
      <li class="px-10 hover:bg-slate-200 cursor-pointer">All</li>
      <li class="px-10 hover:bg-slate-200 cursor-pointer">No one</li>
      <li class="px-10 hover:bg-slate-200 cursor-pointer">Watched</li>
      <li class="px-10 hover:bg-slate-200 cursor-pointer">Unwatched</li>
      <li class="px-10 hover:bg-slate-200 cursor-pointer">Marked</li>
      <li class="px-10 hover:bg-slate-200 cursor-pointer">Not marked</li>
    </ul>
  </div>
  <div class="mx-5">
    <button class="mr-3 h-8 w-8 rounded-full hover:bg-slate-300">
      <fa-icon [icon]="faRotateRight"></fa-icon>
    </button>
  </div>
  <div class="flex-1">
    <button class="mr-3 h-8 w-8 rounded-full hover:bg-slate-300">
      <fa-icon [icon]="faTrashCan" class=""></fa-icon>
    </button>
    <button class="mr-3 h-8 w-8 rounded-full hover:bg-slate-300">
      <fa-icon [icon]="faEnvelopeOpen" class=""></fa-icon>
    </button>
    <button class="mr-3 h-8 w-8 rounded-full hover:bg-slate-300">
      <fa-icon [icon]="faFolderOpen" class=""></fa-icon>
    </button>
  </div>
</div>
@for ( message of messages | async; track message) {
<app-messages-list-item
  [message]="message"
  [isInTrash]="trashFolderId === message.folderId"
  (onMoveToTrash)="moveToTrashFolder(message)"
  (onFlagAsWatched)="flagEmailAsWatched(message.emailId, $event)"
  (onFlagAsMarked)="flagEmailAsMarked(message.emailId, $event)"
></app-messages-list-item>
}
