<div class="flex items-center mb-10">
  <div class="flex items-center relative">
    <input
      type="checkbox"
      name=""
      id=""
      class="h-5 w-5 mr-1 cursor-pointer hover:bg-slate-300"
    />
    <button class="rounded-md hover:bg-slate-300">
      <fa-icon [icon]="faAngleDown"></fa-icon>
    </button>
    <ul
      class="hidden absolute bg-slate-50 shadow-2xl top-6 left-0 justify-center py-2"
    >
      <li class="px-10 hover:bg-slate-200 cursor-pointer">aaaaaaaaa</li>
      <li class="px-10 hover:bg-slate-200 cursor-pointer">aaaaaaaaa</li>
      <li class="px-10 hover:bg-slate-200 cursor-pointer">aaaaaaaaa</li>
    </ul>
  </div>
  <div class="mx-5">
    <button class="mr-3 h-8 w-8 rounded-full hover:bg-slate-300">
      <fa-icon [icon]="faRotateRight"></fa-icon>
    </button>
  </div>
  <div class="flex-1">
    <button class="mr-3 h-8 w-8 rounded-full hover:bg-slate-300">
      <fa-icon [icon]="faTrashCan" class=""></fa-icon>
    </button>
    <button class="mr-3 h-8 w-8 rounded-full hover:bg-slate-300">
      <fa-icon [icon]="faEnvelopeOpen" class=""></fa-icon>
    </button>
    <button class="mr-3 h-8 w-8 rounded-full hover:bg-slate-300">
      <fa-icon [icon]="faFolderOpen" class=""></fa-icon>
    </button>
  </div>
  <div class="self-end">
    <div class="flex">
      <div class="mr-4">
        <span>1-30</span>
        <span class="mx-2">from</span>
        <span>30</span>
      </div>
      <button class="mr-2">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
      </button>
      <button>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </button>
    </div>
  </div>
</div>
@for ( message of messages | async; track message) {
<app-messages-list-item [message]="message"></app-messages-list-item>
}
