<div
  class="group flex p-5 items-center hover:shadow-[inset_0_-2px_0_0_rgba(100,121,143,0.12)] cursor-pointer ease-in duration-100 bg-slate-50 border-t-2"
>
  <div class="flex w-1/6 shrink-0 items-center mr-14">
    <div class="flex items-center justify-center mr-3">
      <input type="checkbox" class="h-5 w-5 outline-slate-100 cursor-pointer" />
    </div>
    <fa-icon [icon]="faStar" class="mr-3"></fa-icon>
    <div class="">{{ message.senderId }}</div>
  </div>

  <div class="min-w-0 flex items-center mr-7 max-w-80 basis-1/2 grow-0">
    <a
      [routerLink]="['/message', message.emailId]"
      routerLinkActive="router-link-active"
      class="w-full flex items-center"
    >
      <span class="font-bold">{{ message.title }}</span>
      <span class="mx-2">-</span>
      <span class="overflow-hidden text-ellipsis whitespace-nowrap block">
        {{ message.textBody }}
      </span>
    </a>
  </div>
  <span class="shrink-0 font-bold group-hover:hidden">{{
    message.sentAt
  }}</span>
  <div class="hidden group-hover:block">
    <button class="mx-1 rounded-full hover:bg-slate-300 w-6 h-6">
      <fa-icon [icon]="faTrash" class=""></fa-icon>
    </button>
    <button class="mx-1 rounded-full hover:bg-slate-300 w-6 h-6">
      <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
    </button>
  </div>
</div>
