<div
  class="group flex w-full p-5 items-center hover:shadow-[inset_0_-2px_0_0_rgba(100,121,143,0.12)] cursor-pointer ease-in duration-100 bg-slate-50 border-t-2 rounded-sm dark:bg-slate-500"
  [ngClass]="{
    'bg-slate-500': message.isWatched,
    'dark:bg-slate-900': message.isWatched,
    'bg-blue-500': message.isChecked
  }"
>
  <div class="flex w-1/6 shrink-0 items-center mr-14">
    <div class="flex items-center justify-center mr-3">
      <label
        class="flex justify-center items-center bg-slate-100 border-2 cursor-pointer hover:bg-slate-200 border-slate-500 mr-1 h-6 w-6 has-[:checked]:bg-blue-300 dark:has-[:checked]:bg-blue-600 rounded-md"
      >
        <input
          type="checkbox"
          class="hidden"
          [checked]="message.isChecked"
          (click)="flagAsChecked()"
        />
        @if (message.isChecked) {
        <fa-icon [icon]="faCheck" class="text-slate-100"></fa-icon>
        }
      </label>
    </div>
    @if (!isInTrash) {
    <button class="mr-3" (click)="flagAsMarked()">
      <fa-icon
        [icon]="faStar"
        [ngClass]="{ marked: message.isMarked }"
      ></fa-icon>
    </button>
    }
    <div class="overflow-hidden text-ellipsis mr-1 whitespace-nowrap">
      {{ message.senderName }}
    </div>
  </div>

  <div class="min-w-0 flex items-center max-w-fit mr-7 basis-1/2 grow">
    <a
      [routerLink]="['/messages/message', message.emailId]"
      routerLinkActive="router-link-active"
      class="w-full flex items-center"
    >
      <span
        class="font-bold overflow-hidden text-ellipsis mr-1 whitespace-nowrap"
        >{{ message.title }}</span
      >
      <span class="mx-2">-</span>
      <span class="overflow-hidden text-ellipsis whitespace-nowrap">
        {{ messageText }}
      </span>
    </a>
  </div>
  <div class="shrink-0 self-end font-bold ml-auto group-hover:hidden">
    <span class="text-sm"
      >{{ time.getDay() }}.{{ time.getMonth() }}.{{ time.getFullYear() }}</span
    >
  </div>
  <div class="hidden group-hover:block ml-auto">
    @if (selectedFolderName !== Folders.TrashFolder) {
    <button
      class="mx-1 rounded-full hover:bg-slate-300 dark:hover:bg-slate-600 w-6 h-6 disabled:bg-transparent disabled:text-gray-300"
      (click)="moveToTrash()"
      [disabled]="isInTrash"
    >
      <fa-icon [icon]="faTrash" class=""></fa-icon>
    </button>
    }
    <button
      class="mx-1 rounded-full hover:bg-slate-300 dark:hover:bg-slate-600 w-6 h-6"
      (click)="flagAsWatched()"
    >
      @if (message.isWatched) {
      <fa-icon [icon]="faEnvelope"></fa-icon>
      } @else {
      <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
      }
    </button>
  </div>
</div>
